h1 {
  text-align: center;
  font-variant-caps: small-caps;
}

h2 {
  text-decoration: underline;
}

h3 {
  font-style: italic;
}

/* p {
  text-indent: 14px;
} */

h2 + p::first-line {
  /* La première ligne de chaque premier paragraphe après un titre de niveau 2 soit en petites capitales. */
  font-variant-caps: small-caps;
  /* Changer la taille de police de la première lettre de chaque paragraphe (la fixer à 2em par exemple). */
  font-size: 2em;
}

/* En ajoutant dans une balise p l'attribut lang="la" d'un paragraphe écrit en latin, et de la même façon lang="fr" pour un paragraphe écrit en français et en ajoutant ce qu'il faut dans le CSS, la langue doit être ajoutée en small-caps avant le paragraphe (sans ajout de texte dans le HTML). */
p:lang(fr)::before {
  content: "Français";
  font-variant-caps: small-caps;
  display: block;
  color: #ccc;
  font-size: .8em;
}

p:lang(la)::before {
  content: "Latin";
  font-variant-caps: small-caps;
  display: block;
  color: #ccc;
  font-size: .8em;
}